header {
  display: grid;
}

nav {
  display: flex;
  justify-content: center;
}

.container {
display: flex;
flex-flow: row wrap;
justify-content: stretch;
background-color: green;
}

.container li {
  list-style-type: none;
}